{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Default value
        {% endblock %}
    </title>
    {% comment %} <link rel="stylesheet" href="{% static 'all_app.css' %}"> {% endcomment %}
    {% tailwind_css %}
</head>
<body class="bg-amber-50">
    <nav class="border-solid border-2 border-orange-500 rounded-2xl p-4 m-2 flex justify-between">
        <button class="text-blue-800 onclick="goBack()">Back</button>
        <a href="{% url 'home'%}">Home</a> 
        <a class="text-blue-950" href="{% url 'all_app' %}">Chai varieties</a>
        <a href="{% url 'app_order' %}">Orders</a>
    </nav>
    {% block content %}{% endblock %}
    <script>
        function goBack() {
            alert("back button is clicked");
        window.history.back();
        }
    </script>

</body>    