{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Default value
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% tailwind_css %}
</head>
<body>
    <nav>
        <a class="text-sky-400" href="{% url 'home' %}">Home</a>
        <a class="text-pink-500" href="{% url 'about' %}">About</a>
        <a class="text-sky-400" href="{% url 'contact' %}">Contact</a>
        <a class="text-pink-500" href="{% url 'all_app' %}">All App</a>
        <a class="text-sky-400" href="{% url 'app_order' %}">App orders</a>
    </nav>
    
    {% block content %}{% endblock %}

</body>
</html>